.btn {
  cursor: pointer;
  user-select: none !important;

  &:focus {
    outline: 0px;
  }
}

.btn-1 {
  padding: 1.5rem 4rem;
  text-align: center;
  line-height: .95;
  font-size: 2rem;
  font-family: "a-gothic";

  background-color: black;

  color: white;

  transition: all 0.3s ease;
  display: inline-block;

  border-radius: 5rem;
  box-sizing: border-box;
  border: 1px solid var(--blue);

  &:hover {
    color: black !important;
    background-color: transparent;
    transition: all 0.15s ease;
    border: 1px solid #000;
  }
  &.white {
    background-color: #fff;
    color: black;
    border: 1px solid #fff;

    &:hover {
      color: #fff;
      background-color: transparent;
      transition: all 0.15s ease;
      border: 1px solid #fff;
    }
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Line Hover            
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@mixin linehover {
  position: relative;
  outline: 0;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #000;
    
    transform-origin: right center;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::before {
    transform-origin: left center;
    transform: scale(1, 1);
  }
}
.linehover {
  @include linehover;
}
