.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 11vw;
    @media only screen and (max-width: 768px) {
        height: 60vh;
        background-attachment: unset;
    }
    h1 {
        width: 60vw;
        font-size: 7.5vw;
        color: white;
        text-align: left;
        font-family: roboto-bold, sans-serif;
        line-height: 1;
        text-transform: uppercase;
    }

    .hero-btn{
        // border-radius: 2rem;
        margin-top: 1.5rem;
        font-family: roboto-bold, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        padding: 2rem 3rem;
        font-size: 2rem;
        color: #000000;
        background-color: #ffffff;
        border: 1px solid #ffffff;

        &:hover{
            color: #ffffff;
            background-color: transparent;
            transition: all 0.15s ease;
            border: 1px solid #ffffff;
            
        }
    }

    // img {
    //     position: absolute;
    //     transform: translate(25vw, 6vw);
    //     width: 15%;
    // }
}