@import "./media.scss";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             Terms Page              
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tc-title {
  max-width: 44rem;
  height: auto;
  padding-bottom: 1rem;

  @include media("<=tablet") {
    max-width: 50vw;
  }
}

.terms-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 6rem;
  @include media("<=tablet") {
    padding-bottom: 2rem;
  }
}

.terms-page {
  @include media(">tablet") {
    padding-top: 18rem;
    .container {
      padding-left: 9.5vw;
      padding-right: 9.5vw;
    }
  }
  padding-top: 12rem;

  h1 {
    margin-bottom: 8rem;
    font-size: 4.8rem;
    color: var(--blue);
    font-family: sombra-black, sans-serif;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 4.8rem;
    color: var(--blue);
    font-family: sombra-black, sans-serif;
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
  }

  h4 {
    padding-bottom: 1.5rem;
    margin-top: 4rem;
    font-size: 2.8rem;
    color: var(--blue);
  }

  p strong {
    padding-bottom: 1.5rem;
    margin-top: 2.5rem;
    font-size: 2rem;
    display: block;
    color: var(--blue);
    font-family: neue-haas-grotesk-display, sans-serif;
  }

  p {
    color: var(--blue);
    font-size: 2rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 300;
  }

  ol {
    margin-top: 3rem;
  }
  ol,
  ul {
    margin-bottom: 2rem;
  }

  ol li,
  ul li {
    color: var(--blue);
    font-size: 2rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    padding-bottom: 2rem;
  }

  a {
    font-family: neue-haas-grotesk-display, sans-serif;
    color: var(--orange);
    &:hover {
      // color: var(--green);
      // border-bottom: 1px solid var(--green);
    }
  }

  li {
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
  li::marker {
    font-size: 2rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
  }
}
