{% set heroImage = post.get_field('hero_image') %}
{% set heroTitle = post.get_field('hero_title') %}
{% set buttonLink = post.get_field('button_link') %}
<section class="hero" style="background-image: url({{heroImage}});">
    <h1>{{heroTitle}}</h1>
    <a class="hero-btn" href="{{buttonLink}}">Book a slot</a>
</section>